In [3]:
def add(x,y):
    return x+y

def sub(x,y):
    return x-y

def multiply(x,y):
    return x*y

def divide(x,y):
    if y==0:
        return "Error: Cannot divide by zero."
    return x/y

def calculator():
    print("Welcome to Simple Calculator")
    print("Select operation:")
    print("1.ADD")
    print("2.SUB")
    print("3.MULTIPLY")
    print("4.DIVIDE") 

    choice=input("Enter Choice (1/2/3/4): " )

    if choice not in ['1','2','3','4']:
        print("Invalid Input")
        return

    try:
        num1=float(input("Enter 1st no:"))
        num2=float(input("Enter 2nd no:"))
    except ValueError:
        print("Invalid number input.Please enter numeric values.")
        return

    if choice=='1':
        print("Result:",add(num1,num2))
    elif choice=='2':
        print("Result:",sub(num1,num2))
    elif choice=='3':
        print("Result:",multiply(num1,num2))
    elif choice=='4':
        print("Result:",divide(num1,num2))

calculator()

Welcome to Simple Calculator
Select operation:
1.ADD
2.SUB
3.MULTIPLY
4.DIVIDE

Enter Choice (1/2/3/4):  1
Enter 1st no: 45
Enter 2nd no: 45

Result: 90.0